# =========================
# Python
# =========================
__pycache__/
*.pyc
.venv/

# =========================
# Node / Tauri
# =========================
node_modules/

# =========================
# Local secrets (NO subir)
# =========================
.env
.env.local
